rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /households/{code}/items/{itemId} {
      allow read, write: if true;
    }
  }
}
